<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Base log folder inside the container -->
    <property name="LOG_PATH" value="/app/logs" />

    <!-- Main log file -->
    <property name="LOG_FILE" value="${LOG_PATH}/app.log" />

    <!-- Consoale -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 1-minute rolling file -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- ROLL EVERY 1 MINUTE -->
            <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>

            <!-- keep only last 60 minutes for safety -->
            <maxHistory>60</maxHistory>

            <!-- cleanup old minute logs at startup -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>

</configuration>
